{
  "profiles": {
    "Profile 1": {
      "Аптека 1": "https://tabletka.by/pharmacies/0000"
    }
  },
  "settings": {
    "green": "19CF1F",
    "red": "E81737",
    "title": "Анализ",
    "fileName": "data.xlsx",
    "colWidth": 50,
    "cellWidth": 15,
    "diffWidth": 10
  },
  "request": {
    "url": "https://tabletka.by/ajax-request/reload-pharmacy-price",
    "headers": {
      "Cookie": "PHPSESSID=...; _csrf=...; regionId=...; lim-result=5000",
      "X-Requested-With": "XMLHttpRequest"
    },
    "data": {
      "sort": "name",
      "sort_type": "asc",
      "str": "",
      "_csrf": "..."
    }
  }
}
