altgraph==0.17.4
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
customtkinter==5.2.2
darkdetect==0.8.0
et-xmlfile==1.1.0
idna==3.7
lxml==5.2.2
openpyxl==3.1.5
packaging==24.1
pefile==2023.2.7
psutil==6.0.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==72.2.0
soupsieve==2.5
urllib3==2.2.2